@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .logo {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px; }
  header nav {
    width: 50%; }
    header nav .menu {
      display: flex;
      gap: 10px;
      justify-content: space-evenly; }
      header nav .menu li {
        list-style: none;
        font-size: 20px; }
        header nav .menu li a {
          text-decoration: none;
          font-family: "Acme", sans-serif;
          color: black; }

.box {
  position: relative; }
  .box h1 {
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 3%;
    color: white;
    font-size: 70px;
    font-family: "Nerko One", cursive;
    text-align: center; }

.titulo-1 {
  font-family: "Acme", sans-serif;
  color: #b0a8b9;
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px; }

h3 {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  text-align: center;
  color: black; }

.box1 {
  max-width: 100%;
  padding: 100px 200px 200px 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; }
  .box1 div {
    background-color: #c34a36;
    padding: 20px 100px 20px 20px;
    border-radius: 10px; }
    .box1 div p {
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      color: white;
      padding-top: 10px; }

.imagen {
  display: flex;
  align-items: center; }
  .imagen div .titulo-2 {
    font-family: "Acme", sans-serif;
    font-size: 35px;
    color: #b0a8b9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; }
  .imagen div p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px; }

.titulo-3 {
  font-family: "Acme", sans-serif;
  color: #b0a8b9;
  font-size: 35px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 90px; }

.fotos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 200px; }
  .fotos div:hover {
    transform: scale(1.2);
    transition: transform 500ms 0,2s; }
    .fotos div:hover p {
      text-align: center;
      font-size: 30px;
      font-family: "Acme", sans-serif;
      background-color: #ff8066;
      color: white; }

.titulo-4 {
  font-family: "Acme", sans-serif;
  color: #b0a8b9;
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px; }

.subtitulo {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px; }

.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 100px; }
  .container div {
    width: 200px;
    height: 250px;
    color: black;
    text-align: center;
    padding-top: 60px;
    border: 3px solid #ebe6e6; }
    .container div p {
      padding-top: 15px; }

.button {
  text-align: center;
  padding-bottom: 150px; }

#button {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  color: #000000;
  font-family: "Acme", sans-serif;
  background-color: #c34a36;
  border-radius: 5px;
  padding: 10px; }

#button:hover {
  font-weight: normal;
  background-color: #ff8066; }

.banner {
  position: relative; }
  .banner h1 {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 3%;
    color: white;
    font-size: 70px;
    font-family: "Nerko One", cursive;
    text-align: center; }

.cajas {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  padding-bottom: 200px; }
  .cajas .plan-1 {
    box-shadow: 1px 0px 28px -3px rgba(0, 0, 0, 0.84);
    height: 650px;
    width: 300px; }
    .cajas .plan-1 p {
      background-color: #845ec2;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 40px;
      font-family: "Acme", sans-serif;
      padding: 5px; }
    .cajas .plan-1 .plan ul {
      margin: 15%;
      color: #989898;
      font-size: 20px;
      font-family: "Josefin Sans", sans-serif; }
      .cajas .plan-1 .plan ul li {
        list-style: circle;
        padding: 5px; }
  .cajas .plan-2 {
    box-shadow: 1px 0px 28px -3px rgba(0, 0, 0, 0.84);
    height: 600px;
    width: 300px; }
    .cajas .plan-2 p {
      background-color: #000000;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 40px;
      font-family: "Acme", sans-serif;
      padding: 5px; }
    .cajas .plan-2 .plan ul {
      margin: 15%;
      color: #989898;
      font-size: 20px;
      font-family: "Josefin Sans", sans-serif; }
      .cajas .plan-2 .plan ul li {
        list-style: circle;
        padding: 5px; }
  .cajas .plan-3 {
    box-shadow: 1px 0px 28px -3px rgba(0, 0, 0, 0.84);
    height: 670px;
    width: 300px; }
    .cajas .plan-3 p {
      background-color: #c34a36;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 40px;
      font-family: "Acme", sans-serif;
      padding: 5px; }
    .cajas .plan-3 .plan ul {
      margin: 15%;
      color: #989898;
      font-size: 20px;
      font-family: "Josefin Sans", sans-serif; }
      .cajas .plan-3 .plan ul li {
        list-style: circle;
        padding: 5px; }

.body {
  height: 100%; }

.main {
  background-image: url(https://img.freepik.com/foto-gratis/perro-atento-pensativo-lazo-rojo-primer-plano-aislado-blanco_346278-1658.jpg?w=740&t=st=1675390509~exp=1675391109~hmac=99f755fd582ad5d1255b0146b8496bdc4cccda8020072fc045d7c3920aa3287e);
  background-repeat: no-repeat;
  background-size: cover; }

.titulo-5 {
  font-family: "Acme", sans-serif;
  color: #b0a8b9;
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px; }

.subtitulo {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px; }

.contenedor {
  padding-top: 40px;
  padding-bottom: 200px; }
  .contenedor .form {
    background-color: #b0a8b9;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto; }
    .contenedor .form .form-container input {
      width: 100%;
      display: grid;
      grid-auto-columns: 100%;
      padding: 10px;
      font-size: 15px;
      outline: none;
      border: none;
      border: 1px solid #d9d9d9;
      border-radius: 2px; }
    .contenedor .form .form-container .form-input {
      font-family: "Josefin Sans", sans-serif; }
    .contenedor .form .form-container textarea {
      width: 100%;
      display: grid;
      grid-auto-columns: 100%;
      padding: 15px 10px;
      font-size: 15px;
      outline: none;
      border: none;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      resize: none; }
    .contenedor .form .form-container .textarea {
      font-family: "Josefin Sans", sans-serif; }
    .contenedor .form .form-container .boton {
      font-family: "Josefin Sans", sans-serif;
      background-color: #845ec2;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 15px;
      cursor: pointer; }

footer {
  background-color: #4B4453;
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  footer .footer1 {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center; }
    footer .footer1 p {
      font-family: "Acme", sans-serif;
      font-size: 20px; }
  footer .footer2 {
    padding-top: 30px;
    padding-bottom: 30px; }
    footer .footer2 p {
      font-family: "Acme", sans-serif;
      font-size: 20px;
      padding-bottom: 10px; }
    footer .footer2 div {
      display: flex; }
      footer .footer2 div p {
        font-family: "Josefin Sans", sans-serif;
        font-size: 15px;
        padding-left: 10px; }

@media (max-width: 768px) {
  header .logo {
    padding-left: 10px;
    padding-top: 10px; }
    header .logo img {
      width: 100px;
      height: 40px; }
  header nav .menu li {
    font-size: 12px; }
  .box h1 {
    top: 200px;
    font-size: 40px; }
  .titulo-1 {
    font-size: 25px;
    padding-top: 30px; }
  h3 {
    font-size: 15px; }
  .box1 {
    max-width: 100%;
    padding: 50px 100px 100px 100px;
    gap: 10px; }
    .box1 div p {
      font-size: 15px;
      padding-top: 10px; }
  .imagen div img {
    width: 300px;
    height: 300px; }
  .imagen div .titulo-2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .imagen div p {
    font-size: 15px;
    padding-left: 90px;
    padding-right: 80px; }
  .titulo-3 {
    font-size: 20px;
    padding-bottom: 60px; }
  .fotos {
    padding-bottom: 150px; }
    .fotos div {
      transform: none;
      transition: none; }
      .fotos div p {
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        color: #ff8066; }
      .fotos div img {
        width: 150px;
        height: 200px; }
  .titulo-4 {
    font-size: 20px; }
  .subtitulo {
    font-size: 12px; }
  .container div {
    padding-top: 40px;
    width: 150px;
    height: 200px; }
  .container p {
    font-size: 11px; }
  #button {
    font-size: 11px; }
  .banner h1 {
    top: 90px;
    font-size: 40px; }
  .cajas {
    padding-top: 100px;
    padding-bottom: 150px; }
    .cajas .plan-1 {
      height: 500px;
      width: 200px; }
      .cajas .plan-1 p {
        font-size: 25px; }
      .cajas .plan-1 .plan ul {
        font-size: 12px; }
    .cajas .plan-2 {
      height: 500px;
      width: 200px; }
      .cajas .plan-2 p {
        font-size: 25px; }
      .cajas .plan-2 .plan ul {
        font-size: 12px; }
    .cajas .plan-3 {
      height: 500px;
      width: 200px; }
      .cajas .plan-3 p {
        font-size: 25px; }
      .cajas .plan-3 .plan ul {
        font-size: 12px; }
  .main {
    background-image: none; }
  .titulo-5 {
    font-size: 25px;
    padding-bottom: 10px; }
  .footer1 p {
    font-size: 15px; }
  .footer1 img {
    width: 30px;
    height: 30px; }
  .footer2 p {
    font-size: 15px; }
  .footer2 div p {
    font-size: 10px; }
  .footer2 div img {
    width: 10px;
    height: 10px; } }

@media (max-width: 390px) {
  header {
    display: grid;
    align-items: center; }
    header .logo {
      padding-left: 10px;
      padding-top: 10px; }
      header .logo img {
        width: 100px;
        height: 40px; }
    header nav .menu {
      display: grid;
      align-content: center;
      padding-bottom: 10px; }
      header nav .menu li {
        font-size: 10px; }
  .box h1 {
    top: 20px;
    padding-left: 45px;
    font-size: 30px; }
  .titulo-1 {
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 15px; }
  h3 {
    font-size: 10px; }
  .box1 {
    max-width: 100%;
    padding: 30px 50px 80px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; }
    .box1 div {
      display: flex;
      padding: 15px 80px 15px 20px;
      border-radius: 10px; }
      .box1 div img {
        width: 40px;
        height: 40px; }
      .box1 div p {
        font-size: 10px;
        padding-left: 15px; }
  .imagen {
    display: grid; }
    .imagen .imagen-1 {
      margin-left: 80px; }
    .imagen div img {
      width: 200px;
      height: 200px; }
    .imagen div .titulo-2 {
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 20px; }
    .imagen div p {
      font-size: 10px;
      padding-left: 50px;
      padding-right: 50px; }
  .titulo-3 {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 30px; }
  .fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 7px;
    padding-bottom: 70px; }
    .fotos div {
      transform: none;
      transition: none; }
      .fotos div p {
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        color: #ff8066; }
    .fotos .foto-1 {
      grid-area: 1 / 2 / 2 / 3; }
    .fotos .foto-2 {
      grid-area: 2 / 2 / 3 / 3; }
    .fotos .foto-3 {
      grid-area: 3 / 2 / 4 / 3; }
    .fotos .foto-4 {
      grid-area: 4 / 2 / 5 / 3; }
    .fotos .foto-5 {
      grid-area: 5 / 2 / 6 / 3; }
  .titulo-4 {
    font-size: 15px;
    padding-top: 50px; }
  .subtitulo {
    font-size: 10px;
    padding-bottom: 20px; }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px; }
    .container div {
      width: 150px;
      height: 200px;
      padding-top: 50px; }
      .container div img {
        width: 50px;
        height: 50px; }
      .container div p {
        font-size: 12px; }
  #button {
    font-size: 12px; }
  .banner h1 {
    top: 20px;
    padding-left: 50px;
    font-size: 25px; }
  .cajas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 50px;
    justify-content: space-around; }
    .cajas .plan-1 {
      height: 420px;
      width: 300px;
      margin-bottom: 30px; }
      .cajas .plan-1 p {
        font-size: 20px; }
      .cajas .plan-1 .plan ul {
        font-size: 12px; }
    .cajas .plan-2 {
      height: 400px;
      width: 300px;
      margin-bottom: 30px; }
      .cajas .plan-2 p {
        font-size: 20px; }
      .cajas .plan-2 .plan ul {
        font-size: 12px; }
    .cajas .plan-3 {
      height: 440px;
      width: 300px; }
      .cajas .plan-3 p {
        font-size: 20px; }
      .cajas .plan-3 .plan ul {
        font-size: 12px; }
  .main {
    background-image: none; }
  .titulo-5 {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 10px; }
  .contenedor {
    padding-bottom: 100px; }
    .contenedor .form {
      width: 70%;
      padding: 2em 1.5em; }
      .contenedor .form .form-container input {
        font-size: 10px; }
      .contenedor .form .form-container textarea {
        font-size: 10px; }
      .contenedor .form .form-container .boton {
        font-size: 10px;
        cursor: none; }
  footer .footer1 {
    padding-top: 45px;
    padding-bottom: 15px; }
    footer .footer1 p {
      font-size: 10px; }
    footer .footer1 img {
      width: 20px;
      height: 20px; }
  footer .footer2 {
    padding-top: 20px;
    padding-bottom: 15px; }
    footer .footer2 p {
      font-size: 10px; }
    footer .footer2 div p {
      font-size: 10px; }
    footer .footer2 div img {
      width: 10px;
      height: 10px; } }
