.body {
    height: 100%;
}
.main{
    background-image:url(https://img.freepik.com/foto-gratis/perro-atento-pensativo-lazo-rojo-primer-plano-aislado-blanco_346278-1658.jpg?w=740&t=st=1675390509~exp=1675391109~hmac=99f755fd582ad5d1255b0146b8496bdc4cccda8020072fc045d7c3920aa3287e);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo-5{
    font-family: $tipografia-principal;
    color: #b0a8b9;
    font-size: 35px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.subtitulo {
    font-family: $tipografia-principal;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.contenedor {
    padding-top: 40px;
    padding-bottom: 200px;
    .form{
        background-color: #b0a8b9;
        width: 90%;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
        margin: auto;
        .form-container{
            input{
                width: 100%;
                display: grid;
                grid-auto-columns: 100%;
                padding: 10px;
                font-size: 15px;
                outline: none;
                border: none;
                border: 1px solid rgb(217, 217, 217);
                border-radius: 2px;
            }
            .form-input{
                font-family: $tipografia-secundaria;
            }
            textarea{
                width: 100%;
                display: grid;
                grid-auto-columns: 100%;
                padding: 15px 10px;
                font-size: 15px;
                outline: none;
                border: none;
                border: 1px solid rgb(217, 217, 217);
                border-radius: 2px;
                resize: none;
            }
            .textarea{
                font-family: $tipografia-secundaria;
            }
            .boton{
                font-family: $tipografia-secundaria;
                background-color: #845ec2;
                color: white;
                font-size: 15px;
                font-weight: bold;
                padding: 15px;
                cursor: pointer;
            }
        }
    }
}