.imagen{
    display: flex;
    align-items: center;
    div{
        .titulo-2{
            font-family: $tipografia-principal;
            font-size: 35px;
            color: #b0a8b9;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    div{
        p{
            font-family: $tipografia-secundaria;
            font-size: 20px;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}
.titulo-3{
    font-family: $tipografia-principal;
    color: #b0a8b9;
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 90px;
}

.fotos{
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    div:hover{
        transform: scale(1.2);
        transition: transform 500ms 0,2s;
        p{
            text-align: center;
            font-size: 30px;
            font-family: $tipografia-principal;
            background-color: #ff8066;
            color: white
        }
    }
}