@media (max-width: 390px) {
    header{
        display: grid;
        align-items: center;
        .logo{
            padding-left: 10px;
            padding-top: 10px;
            img{
                width: 100px;
                height: 40px;
            }
        }
        nav{
            .menu{
                display: grid;
                align-content: center;
                padding-bottom: 10px;
                li{
                    font-size: 10px;
                }
            }
        }
    }


// INICIO //


    .box{
        h1{
            top: 20px;
            padding-left: 45px;
            font-size: 30px;
        }
    }
    .titulo-1{
        font-size: 15px;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    h3{
        font-size: 10px;
    }
    .box1{
        max-width: 100%;
        padding: 30px 50px 80px 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        div{
            display: flex;
            padding: 15px 80px 15px 20px;
            border-radius: 10px;
            img{
                width: 40px;
                height: 40px;
            }
            p{
                font-size: 10px;
                padding-left: 15px;
            }
        }
    }


// NOSOTROS //


    .imagen{
        display: grid;
        .imagen-1{
            margin-left: 80px;
        }
        div{
            img{
                width: 200px;
                height: 200px;
            }
            .titulo-2{
                font-size: 15px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            p{
                font-size: 10px;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
    .titulo-3{
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 30px;
        }
    .fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 7px;
        padding-bottom: 70px;
        div{
            transform: none;
            transition: none;
            p{
                font-weight: bold;
                text-align: center;
                font-size: 15px;
                color: #ff8066; 
            }
        }
        .foto-1 { grid-area: 1 / 2 / 2 / 3; }
        .foto-2 { grid-area: 2 / 2 / 3 / 3; }
        .foto-3 { grid-area: 3 / 2 / 4 / 3; }
        .foto-4 { grid-area: 4 / 2 / 5 / 3; }
        .foto-5 { grid-area: 5 / 2 / 6 / 3; }
        }


// BENEFICIOS //


    .titulo-4{
        font-size: 15px;
        padding-top: 50px;
    }
    .subtitulo{
        font-size: 10px;
        padding-bottom: 20px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 30px;
        div{
            width: 150px;
            height: 200px;
            padding-top: 50px;
            img{
                width: 50px;
                height: 50px;
            }
            p{
                font-size: 12px;
            }
        }
    }
    #button{
        font-size: 12px;
    }


// PLANES //


    .banner{
        h1{
            top: 20px;
            padding-left: 50px;
            font-size: 25px;
        }
    }
    .cajas{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 50px;
        justify-content: space-around;
        .plan-1{
            height: 420px;
            width: 300px;
            margin-bottom: 30px;
            p{
                font-size: 20px;
            }
            .plan{
                ul{
                    font-size: 12px;
                }
            }
        }
        .plan-2{
            height: 400px;
            width: 300px;
            margin-bottom: 30px;
            p{
                font-size: 20px;
            }
            .plan{
                ul{
                    font-size: 12px;
                }
            }
        }
        .plan-3{
            height: 440px;
            width: 300px;
            p{
                font-size: 20px;
            }
            .plan{
                ul{
                    font-size: 12px;
                }
            }
        }
    }


// CONTACTO //


.main{
    background-image: none;
}
.titulo-5{
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.contenedor{
    padding-bottom: 100px;
    .form{
        width: 70%;
        padding: 2em 1.5em;
        .form-container{
            input{
                font-size: 10px;
            }
            textarea{
                font-size: 10px;
            }
            .boton{
                font-size: 10px;
                cursor: none;
            }
        }
    }
}





    footer{
        .footer1{
            padding-top: 45px;
            padding-bottom: 15px;
            p{
                font-size: 10px;
            }
            img{
                width: 20px;
                height: 20px;
            }
        }
        .footer2{
            padding-top: 20px;
            padding-bottom: 15px;
            p{
                font-size: 10px;
            }
            div{
                p{
                    font-size: 10px;
                }
                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}